<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon", href="/img/cat-icon3.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Simon Loy. It uses data from mapbox.com and darkysky.net</p>
        <img class="portrait" src="/img/killie150.jpg">
    </div>
    {{>footer}}
  </body>
</html>