<!DOCTYPE html>

<html>
  <head>
    <title>Help</title>
    <link rel="icon", href="/img/cat-icon3.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>{{helpMessage}}</p>
    </div>
    {{>footer}}
  </body>
</html>