<!DOCTYPE html>

<html>
  <head>
    <title>Weather</title>
    <link rel="icon", href="/img/cat-icon3.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get weather forecasts</p>

      <form>
        <input placeholder="Location">
        <button>Search</button>
      </form>

      <p id="messageOne"/>
      <p id="messageTwo"/>
    </div>
    {{>footer}}
    <script src=/js/app.js></script>
  </body>
</html>